@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Vampiro+One&display=swap");

.task{
    text-align: left;
    background: rgba(231, 225, 229, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(189, 171, 171, 0.3);
    padding: 1vw;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    gap: .5vw;
  
}
.tasks{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 1vw;
    font-family: "Roboto", sans-serif;
}
.name{
    font-size: 1rem;
    font-weight: 500;
    line-break: anywhere;
}
.description{
    font-size: 1.5rem;
    line-break: anywhere;
}
.Priority{
    font-weight: 600;
    font-size: 1.1rem;
}
.options{
    display: flex;
    gap: 20px;
}
@media (max-width:500px){
    .task{
        padding: 5vw;
        width: 90vw;
        gap: 5px;
    }
    .tasks{
        justify-content: center;
        
    }
}